.albums-section {
    padding: 2rem;
    font-family: Arial, sans-serif;
}

.albums-page-title {
    color: rgb(68, 1, 115);
    text-align: center;
    margin-bottom: 2rem;
}

.albums-page-title h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.albums-page-title p {
    font-size: 1rem;
    color: rgb(68, 1, 115);
}

.albums-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.album-box {
    flex: 1 1 300px;
    max-width: 350px;
    background-color: #fefefe;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.album-box:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(76, 1, 99, 0.472);
}

.album-box img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.album-label {
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #f4f4f4;
    color: rgb(45, 0, 82);
}

 @media (max-width: 768px) {
    .albums-page-title h2 {
        font-size: 1.3rem;
    }
    
    .albums-page-title p {
        font-size: 1rem;
    }
    
  }
