.page-layout {
  position: relative;
  overflow: hidden;
  margin: 1rem;
}

.image-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.image-section img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.image-section img.active {
  opacity: 1;
}

.text-section {
  margin: 0 auto;
  padding: 2rem;
  font-size: 1.2rem;
  line-height: 1.5;
  max-width: 800px;
  background: white;
  border: 5px solid rgba(79, 0, 116, 0);
  border-radius: 8px;
  z-index: 1;
  position: relative;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

@media (max-width: 760px) {
  .image-section {
    display: none;
  }

  .page-layout {
    padding: 0.5rem;
  }

  .text-section {
    padding: 0.5rem;
    box-shadow: 0 0 8px rgba(61, 0, 71, 0.49);
  }
}
