.nav-container {
  background-color: #9b4dff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.nav-route {
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  margin: 1rem
}

.nav-route:hover {
    color: #ffe600;
  }

@media (max-width: 768px) {
  .nav-container {
      flex-direction: column;
  }

  .nav-route {
      font-size: 1rem;
      margin: 0.1rem;
  }
}