.hero-section {
  height: 100vh;
  background-size: cover;
  background-position: left 35% bottom 45%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  padding-top: 15vh; 
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.3;
  z-index: 1;
}

.hero-title {
  color: white;
  font-size: 4rem;
  font-weight: bold;
  position: relative;
  z-index: 2;
  margin: 0;
  text-align: center;
}

.scroll-button {
  background-color: white;
  color: black;
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

hr {
  border: none;
}

.about-section {
  background-color: white;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.about-container {
  flex: 1;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #9b4dff;
  color: white;
}

.about-photo-container {
  flex: 1;
}

.about-photo-container img {
  max-width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.about-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.about-paragraph {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.trip-enhancements-section {
  background-color: #8528ff6f;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  border-radius: 12px;
  margin: 0.5rem;
}

.trip-enhancements {
  padding: 1.5rem;
  flex: 1;
  
}

.te-photo-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  padding: 2rem;
  
}

.te-photo-container img{
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.mb-photo {
  display: none;
}

@media (max-width: 768px) {

  .about-section {
    flex-direction: column;
  }

  .about-container {
    order: 0;
  }

  .trip-enhancements-section {
    flex-direction: column;
  }

  .te-photo-container {
    display: none;
  }

  .about-photo-container {
    display: none;
  }

  .mb-photo {
    order: 1;
    display: flex; 
  }
}